nav {
  background: rgb(0, 168, 235);
  padding: 30px;
}

nav a {
  padding: 10px 40px;
  margin: 10px;
  text-decoration: none;
  color: rgb(0, 133, 185);
  background: yellowgreen;
  border-radius: 4px;
}